body {
	background: #F5F6F8;
	color: #010C0C;
	margin-top: 30px !important;
}

hr {
	border:33px solid #576471;
}

.button-primary {
	background-color: #576471 !important;
	border-color: #85A7C2 !important;
}

header h1 {
	font-size: 2em;
	color:#000;
	background:#FF8A26;
	width:auto;
	display:inline-block;
	padding:0.5em;
	transform:rotate(3deg)
}
