doctrine:
    dbal:
        connections:
            site_admin_repository_connection:
                driver: pdo_mysql
                host: localhost
                user: ez
                password: eiHelppoo
                dbname: ezpublish_fi
                charset: UTF8
ezpublish:
    imagemagick:
        enabled: true
        path: /usr/bin/convert
    repositories:
        site_admin_repository:
            engine: legacy
            connection: site_admin_repository_connection
    siteaccess:
        default_siteaccess: site_admin
        list:
            - site_public
            - site_blog_public
            - site_admin
        groups:
            default_sites_group:
                - site_public
                - site_blog_public
                - site_admin
        match:
            URIElement: '1'
            Map\Host:
                ezpublish.fi.localx: site_public
                ezpublish.fi.local: site_blog_public
                admin.ezpublish.local.fi: site_admin
    system:
        default_sites_group:
            repository: site_admin_repository
            languages:
                - eng-GB
            var_dir: var/ezpublish_fi
            image_variations:
                reference:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [600, 600] }
                small:
                    reference: reference
                    filters:
                        - { name: geometry/scaledownonly, params: [100, 100] }
                tiny:
                    reference: reference
                    filters:
                        - { name: geometry/scaledownonly, params: [30, 30] }
                medium:
                    reference: reference
                    filters:
                        - { name: geometry/scaledownonly, params: [200, 200] }
                large:
                    reference: reference
                    filters:
                        - { name: geometry/scaledownonly, params: [300, 300] }
                rss:
                    reference: reference
                    filters:
                        - { name: geometry/scale, params: [88, 31] }
        site_admin:
            legacy_mode: true
        site_blog_public:
            content:
                tree_root:
                    location_id: 60
                    excluded_uri_prefixes: [ /media, /images ]
stash:
    caches:
        default:
            drivers:
                - FileSystem
            inMemory: true
            registerDoctrineAdapter: false
