{% extends "EzFinlandMainSiteBundle::pagelayout.html.twig" %}

{% block content %}

<div class="ten columns">

<h2>{{ ez_render_field(content,'title') }}</h2>

{{ ez_render_field(content,'content') }}


</div>

{% endblock %}